*{
    margin: 0px;
    padding: 0px;
}

.gallery__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-row-gap: 1em;
    box-sizing: border-box;
    margin: 30px auto ;
    width: 100%;
    max-width: 1000px;
    gap: 10px;
    
}

.gallery__container div{
    
    width: 100%;
    height: 240px;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


@media (min-width: 200px) and (max-width: 600px){
    .gallery__container{
        grid-template-columns: 1fr;
    }
}